node_modules/
.next/
__pycache__/
.ipynb_checkpoints/
.vscode/
temp_voice/
tts_port.txt
temp_editor.txt
temp_icons/
*.tsbuildinfo
temp.css
*.log

.env
.env.*
!.env.example
!.env.local.example
!my-app/.env.example
!my-app/.env.local.example
